.get_followers_btn_bhy,
.see_black_list_btn{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: 600;
    background-color: #363636;
    color: #f5f5f5;
    height: 32px;
    cursor: pointer;
}

.get_followers_btn_bhy:hover,
.see_black_list_btn:hover{
    background-color: #2c2c2c;
}

.get_followers_btn_bhy{
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    width: 120px;
}

.see_black_list_btn{
    border: 2px solid #999999;
    width: 180px;
    border-radius: 20px;
}

#blackListMain{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a8a;
    z-index: 1000000;
}

#blackListMain_sub{
    width: 365px;
    height: 325px;
    min-width: 220px;
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 0 6px 2px rgba(70, 70, 70, 0.4);
    display: grid;
    gap: 10px 0;
    grid-template-rows: 40px auto;
    padding: 20px 10px;
    position: relative;
}

#top_sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

#bl_title{
    color: #363636;
    font-weight: 600;
    font-size: 20px;
    background-color: #36363610;
    background: linear-gradient(45deg,rgba(54, 54, 54, 0.2),#36363610);
    width: 100px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#top_sec > span{
    font-size: 13px;
    color: #555555;
}


#top_sec::after{
    content: "";
    position: absolute;
    height: 1px;
    bottom: -9px;
    width: calc(100% - 12px);
    background-color: #2c2c2c2d;
}

#BL_users{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 5px;
    border: 0;
}

#BL_users::-webkit-scrollbar{
    width: 8px;
}
#BL_users::-webkit-scrollbar-thumb{
    background-color: #2a2a2a;
    border-radius: 5px;
}
#BL_users::-webkit-scrollbar-track{
    background-color: rgb(170, 170, 170);
    border-radius: 5px;
}

.BL_user{
    height: 35px;
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 14px;
    font-weight: 600;
    color: #2a2a2a;
    background-color: #f0f0f0;
    transition: 0.3s;
    border-radius: 3px;
}

.BL_user:hover{
    background-color: #e4e4e4;
}

#closeTheBlackList{
    font-size: 12px;
    font-weight: 600;
    width: 60px;
    height: 25px;
    right: 0px;
    top: -30px;
    position: absolute;
    border: 1px solid black;
    background-color: #f5f5f5;
    color: black;
    transition: 0.3s;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#closeTheBlackList:hover{
    background-color: #555555;
    color: white;
}